html{
    font-family: "Noto Sans", system-ui;
}
.subject{
    font-size: 40px;
    color: navy;
}
.links{
    font-size: 16px;
    color: blueviolet;
}
label, input[type='checkbox'] {
    cursor: pointer;
}