html{
    font-family: "Noto Sans", system-ui;
}
.subject{
    font-size: 40px;
    color: navy;
}
.links{
    font-size: 16px;
    color: blueviolet;
}
th,tr,td{
    padding: 10px 20px;
}
table{
    border-collapse:  collapse;
}
th{
    border-bottom: solid 1px #748ca5;
}
td{
    border: solid 1px #000000;
}
.table-title{
    font-size: 20px;
}